
.body.navbar-wrapper{
	width: 100%;
}

.btn-primary {
	color: #4D1D0A;
	background-color: #FF4B01;
	width: 200px;
	height: 50px;
	moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 3px outset #cc3c00;
  padding: 5px;
}
.navbar {
	background-color: #FF4B01;
	opacity: 0.7;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color: #FF4B01;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #FF4B01;
}

.slide {
	padding: 20px;
}

.img-circle{
	color: #FF4B01;
	
}
.marketing{
	padding: 50px;
}
.btn-default{
	color: #4D1D0A;
	background-color: #FF4B01;
	opacity: 0.7;
font-family: 'Coustard', serif;
	font-size: 24px;
	font-weight: 900;
	moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 3px outset #cc3c00;
  padding: 5px;
}

.col-lg-4{
	text-align: center;
}
.featurette-heading{
	color: #FF4B01;
}
.featurette{
	height: 200px;
	text-align: center;
}
.featurette-image{
	margin: 30px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.featurette-wrapper{
	margin:0 auto;
}
