
.body.navbar-wrapper{
	width: 100%;
}

.btn-primary {
	color: #FF4B01;
	background-color: #FFC28A;
	width: 220px;
	height: 40px;
}
.navbar {
	background-color: #FF4B01;
	opacity: 0.5;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color: #FF4B01;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #FF4B01;
}

.slide {
	padding: 20px;
}

.img-circle{
	color: #FF4B01;
}
.marketing{
	padding: 50px;
}
.btn-default{
	color: #FF4B01;
	font-size: 24px;
	font-weight: 700;
}

.col-lg-4{
	text-align: center;
}
.featurette-heading{
	color: #FF4B01;
}
.featurette{
	height: 200px;
	text-align: center;
}
.featurette-image{
	margin: 30px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.featurette-wrapper{
	margin:0 auto;
}
